/* 달력 프레임 */
.custom-calendar {
  padding: 16px !important;
  border-radius: 6px !important;
  border: none !important;
  box-shadow: 0px 0px 32px 0px rgba(22, 23, 25, 0.1);
}

/* 전체 달력 폰트 */
.react-datepicker {
  font-family: "Pretendard", sans-serif !important;
}

/* 요일 헤더 (일~토) */
.react-datepicker__day-name {
  color: #495057 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  width: 30px !important;
  height: 30px !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

/* 달력 헤더 (연.월 네비게이션 영역) */
.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
  padding-top: 0px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 날짜 셀 */
.react-datepicker__day {
  width: 30px !important;
  height: 30px !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  line-height: 0 !important;
  font-size: 12px !important;
}

/* 해당 달에 해당하지 않는 날짜 색상 */
.react-datepicker__day--outside-month {
  color: #adb5bd !important;
}

/* 오늘 날짜 이전의 날짜 색상 */
.react-datepicker__day--disabled {
  color: #adb5bd !important;
  background-color: transparent !important;
  cursor: not-allowed !important;
}

/* 날짜 hover 시 스타일 */
.react-datepicker__day:hover {
  background-color: #dee2e6;
  border-radius: 9999px !important;
}

/* 말풍선 삼각형 제거 */
.react-datepicker__triangle {
  display: none !important;
}

/* 선택된 날짜 기본 효과 제거 */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}

/* 오늘 날짜 */
.custom-today {
  border: 1.5px solid #f0a500 !important;
  background-color: #fef7e6 !important;
  font-weight: 500 !important;
  border-radius: 9999px !important;
  font-size: 12px !important;
}

/* 선택된 날짜 스타일 */
.custom-selected {
  background-color: #f0a500 !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 9999px !important;
  font-size: 12px !important;
}
